<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Mes posts</h2>
			<p>Mis à jour : {{ lastUpdate | async | date: 'EEEE d MMMM yyyy HH:mm:ss' | uppercase}}</p>
			
			<app-post-list [posts]="posts"></app-post-list>
			<!--
			<ul class="list-group">
				<app-appareil *ngFor="let appareil of appareils" [appareilName]="appareil.name" [appareilStatus]="appareil.status"></app-appareil>-->
				<!-- *ngFor fait une boucle sur le tableau appareils -->
			<!--</ul>-->
			<br>
	  		<button class="btn btn-success" [disabled]="!isAuthentified" (click)="onAllumer()">Tout allumer</button>
		</div>
  	</div>
</div>