<li [ngClass]="{'list-group-item': true, 'list-group-item-success': loveIts > 0, 'list-group-item-danger': loveIts < 0}">
  <!-- *ngIf ajoute ou non la div en fonction de la valeur de la conditions que l'on attribut -->
  <div class="row">
    <h4 class="col" [ngStyle]="{color: getColor()}">{{ title }}</h4>
    <h5 class="col" style="color:grey; font-style: italic" class="text-right">{{ creationDate | date: 'dd/MM/yyyy, HH:mm' }}</h5>
  </div>
  <p [ngStyle]="{color: getColor()}">{{ content }}</p>
  <button class="btn btn-success" (click)="onLoveIt()">Love it!</button>
  <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it!</button>
</li>
